

<!--https://getbootstrap.com/docs/4.0/components/jumbotron/-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">BIENVENUE Cher(e) <%= params[:id] %> ! </h1>
    <p class="lead">Ici c'est notre super site de potins, il est chouette!</p>
  </div>
</div>

